<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Messages</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            min-height: 100vh;
        }

        header {
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100;
            font-size: 1.5rem;
            background-color: #fff;
            color: darkslategray;
            text-transform: uppercase;
            padding: 20px;
            box-shadow: .5px .5px 10px #e4e4e4;
        }

        #add-btn {
            padding: 10px;
            background-color: #a0f4ff;
            color: #3f3d3d;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 1.09rem;
            cursor: pointer;
            box-shadow: 1px 1px 15px #cccccca2;
            position: absolute;
            top: 13px;
            right: 20px;
        }

        main {
            margin: 90px 0 90px 0;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }

        .message-box {
            width: 600px;
            display: flex;
            flex-flow: row wrap;
            padding: 20px;
            box-shadow: .5px .5px 20px #d0d0d098;
            margin: 15px;
            border-radius: 20px;
            position: relative;
        }

        .user,
        .text,
        .date {
            width: 100%;
            margin-bottom: 10px;
            color: #3e3e3e;
        }

        .user {
            font-size: 1.3rem;
            color: tomato;
        }

        .date {
            font-size: .73rem;
            color: #3e3e3e;
            margin-top: 10px;
        }

        .details-btn {
            width: 80px;
            height: 32px;
            background-color: #ffa238;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 10px;
            font-size: 1.06rem;
            color: #302e2e;
            position: absolute;
            right: 15px;
            bottom: 10px;
        }
    </style>
</head>

<body>
    <header>mini messageboard
        <button id="add-btn" onclick="window.location.href = '/new'">add new message</button>
    </header>
    <main>
        <% messages.map((message)=> { %>
            <div class="message-box">
                <div class="user">
                    <%= message.user %>
                </div>
                <div class="text">
                    <%= message.text %>
                </div>
                <div class="date">
                    <% const month=message.added.toLocaleString('default', { month: 'short' }); const
                        day=message.added.getDate(); const year=message.added.getFullYear(); const
                        hours=message.added.getHours().toString().padStart(2, '0' ); const
                        minutes=message.added.getMinutes().toString().padStart(2, '0' ); const formattedDate=`${month}
                        ${day} ${year} ${hours}:${minutes}`; %>
                        <%=formattedDate %>
                </div>
                <button class="details-btn" onclick="window.location.href='/message/<%= message.id %>'">
                    Open
                </button>
            </div>
            <% }) %>
    </main>
</body>

</html>